body {
     background: #FFF;
     color: #000;
     font-family: Arial, sans-serif;
     font-size: 14px;
text-align: center;
}


#header {
     background: #F5DEB3;
     width: 100%;
     height: 10%;
}
 
#container {
     background: #FFD700;
     margin: auto auto;
     
     width: 80%;
     height: 650px;
}
 

#content {
background: white;
     float: right;
     width:100%;
     height: 80%;
}
#eat{
text-align: center;
     
background:#00FF7F;
 margin: 1%  3%;
 width: 25%;
 height: 45%;
float :left;
}
#eat2{
background:#00FF7F;
 margin: 1%  3%;
 width: 25%;
 height: 45%;
float :left;
botoom:40%;
}
 
#footer {
    background: #00BFFF;
	width: 100%;
	height: 10%;
}
#m{
font-weight:bold;
}